# Node.js dependencies
/node_modules/


# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
/dist
/build
/tmp

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
Thumbs.db

# Miscellaneous
*.tgz
*.zip
*.tar.gz
